* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: rgb(12, 12, 12);
}

.container {
	min-height: 100vh;
	background-color: rgb(12, 12, 12);
	width: 90vw;
	margin: auto;
	position: relative;
}

.popular {
	min-height: 460px;
	width: 300px;
	background-color: rgb(233, 132, 64);
	position: absolute;
	top: 10%;
	z-index: 2;
	border-radius: 15px;
	background-image: linear-gradient(
		to top,
		orange,
		rgb(255, 0, 0),
		rgba(255, 0, 0, 0.767)
	);
}

.popular-header {
	position: absolute;
	bottom: 5%;
	left: 5%;
}

.popular-header h6 {
	color: white;
	font-size: 3.2rem;
	font-weight: 600;
}

.popular-header p {
	font-size: 1.6rem;
	line-height: 40px;
}

.popular-header p:nth-child(4) {
	color: #e7e7e7;
}

.popular-header p:nth-child(5) {
	color: white;
	text-decoration: underline;
	font-weight: 700;
}

.card-container {
	min-height: 500px;
	width: 70vw;
	overflow-x: scroll;
	overflow-y: hidden;
	display: flex;
	align-items: center;
	margin-left: 320px;
	padding-top: 60px;
	background-color: transparent;
}

.card-container::-webkit-scrollbar {
	height: 0.25rem;
}

.card-container::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to top, orange, rgba(255, 0, 0, 0.767));
}

.card-container::-webkit-scrollbar-track {
	background-color: #383838;
}

.cards {
	min-height: 400px;
	min-width: 300px;
	margin: 1rem 1rem;
	box-shadow: -10px 0px 30px rgb(0, 0, 0);
	border-radius: 15px;
	transition: 200ms ease;
	background-color: rgb(17, 17, 17);
	color: white;
	padding: 2rem 2rem;
	position: relative;
	display: flex;
	flex-direction: column;
}

.article {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.article p:first-child {
	font-size: 1.6rem;
	margin-right: 1rem;
	font-weight: 400;
	color: #e7e7e7;
}

.article p:last-child {
	font-size: 1.4rem;
	color: #777777;
}

.headline {
	font-size: 2.8rem;
	font-weight: 700;
}

.person {
	display: flex;
	margin-top: auto;
	align-items: center;
}

.person p:last-child {
	font-size: 1.6rem;
	margin-right: 1rem;
	font-weight: 400;
	color: #e7e7e7;
}

.person p:first-child {
	font-size: 1.4rem;
	color: #777777;
}

.person-image {
	height: 40px;
	width: 40px;
	background-color: coral;
	border-radius: 50%;
	margin-right: 10px;
}

button {
	background-color: transparent;
	border: 1px solid #b1b1b1;
	padding: 1rem 1.5rem;
	color: #b1b1b1;
	font-size: 1.2rem;
	font-weight: 400;
	border-radius: 20px;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: auto;
	width: 40%;
}

.cards:first-child {
	margin-left: 40px;
}

.cards:not(:first-child) {
	margin-left: -80px;
}

.cards:hover {
	transform: translateY(-20px);
}

.cards:hover ~ .cards {
	transform: translateX(80px);
}

@media screen and (max-width: 768px) {
	.container {
		width: 95vw;
	}

	.popular {
		min-height: 360px;
		width: 200px;
	}

	.popular-header h6 {
		font-size: 3rem;
	}

	.popular-header p {
		font-size: 1.4rem;
	}
	.cards {
		min-height: 350px;
		min-width: 250px;
	}
	button {
		font-size: 1rem;
		width: 50%;
	}
	.headline {
		font-size: 2.4rem;
	}
	.card-container {
		min-height: 400px;
		width: 70vw;

		margin-left: 210px;
		padding-top: 50px;
	}
	.cards:first-child {
		margin-left: 35px;
	}
}
